#pop-up-container {
}

#pop-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pop-up-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 5%;
  width: 60%;
}

h2 {
  text-align: center;
  color: #E85D3F;
  font-weight: bolder;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 57px;
}

.pop-up-img {
  margin-right: 25px;
}

.pop-up-details {
  display: flex;
  flex-direction: row;
  padding: 10px;
  /* width: 60%; */
  margin-bottom: 20px;
}

.pop-up-info {
  margin-left: 25px;
  line-height: 30px;
}
button {
  font-weight: bold;
  width: 63px;
  height: 36px;
  font-size: 24px;
  line-height: 36px;
  float: right;
  background-color: #1CBD8D;
  border-radius: 10px;
}
