#pop-up-container {
}

#pop-up {
	display: flex;
	flex-direction: column;
	align-items: center;
  background-color: #000000B0;
  z-index: 1;
  position: fixed;
  top: 0;
    /* left: 0; */
  height: 100%;
  width: 100%;
  overflow: auto;
}


#pop-up-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	border-radius: 2%;
	padding: 40px;
  background-color: white;
  /* z-index: 1; */
  height: auto;
  width: 60%;
  margin: 150px auto;
}

h2 {
	text-align: center;
	color: #e85d3f;
	font-weight: bolder;
	margin-bottom: 35px;
	font-size: 36px;
	line-height: 57px;
}

#pop-up-text>h2{
  background-color: white;
}

.pop-up-img {
	margin-right: 30px;
	float: left;
	height: 254px;
  background-color: white;
}

.pop-up-details {
	margin-bottom: 20px;
  background-color: white;
}

.pop-up-info>div, p{
	line-height: 30px;
	float: none;
  background-color: white;
}
.pop-up-info {
  background-color: white;
}
button {
	font-weight: bold;
	width: 63px;
	height: 36px;
	font-size: 22px;
	line-height: 40px;
	float: right;
	background-color: #1cbd8d;
	color: white;
	border-radius: 10px;
	border: none;
	width: 20%;
}
