:root {
	--main-color: hotpink;
	--pane-padding: 5px 42px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.question-container {
	display: flex;
	justify-content: center;
}

.mystery-circle {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: var(--main-color);
}
