
* {
  font-family: 'Baloo 2', cursive;
  font-weight: bold;
}

#answer-container {
  display: flex;
  justify-content: center;

}

.answer-options {
  display: flex;
  flex-direction: row;
  margin: 100px;
}
label {
  margin-right: 100px;

  font-size: 24px;
}
input {
  margin-right: 10px;
  width: 30px;
  height: .8em;
}
/* button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10%;
} */
/* button:hover{
  border: 3px solid gold;
}
img {
  width: 180px;
  height: auto;
  border-radius: 10%;
} */
